In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("world_alcohol.csv")

In [54]:
#Quantas bebidas diferentes ?

bebidas = list(data['Beverage Types'])
bebidas = set(bebidas)
len(bebidas)

#ou, em uma unica linha:
#len(set(list(data['Beverage Types'])))

4

In [8]:
#Quais sao as bebidas diferente?
bebidas

{'Beer', 'Other', 'Spirits', 'Wine'}

In [58]:
#Quais paises bebem vinho ?
data.loc[data['Beverage Types'] == 'Wine']

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
2,1985,Africa,Cte d'Ivoire,Wine,1.62
6,1987,Africa,Mauritius,Wine,0.13
10,1987,Africa,Botswana,Wine,0.20
15,1987,Africa,Guinea-Bissau,Wine,0.07
16,1984,Americas,Costa Rica,Wine,0.06
20,1986,South-East Asia,Myanmar,Wine,0.00
26,1985,Europe,United Kingdom of Great Britain and Northern I...,Wine,1.36
31,1986,Western Pacific,Micronesia (Federated States of),Wine,0.00
34,1986,Europe,Russian Federation,Wine,0.80
43,1984,Western Pacific,China,Wine,0.03
49,1986,Europe,Malta,Wine,1.49
52,1986,Eastern Mediterranean,Saudi Arabia,Wine,0.00
55,1989,Americas,Suriname,Wine,0.04
56,1987,Western Pacific,Viet Nam,Wine,0.00
57,1989,Europe,Croatia,Wine,5.10
66,1987,Eastern Mediterranean,Iraq,Wine,0.01
81,1985,Europe,Netherlands,Wine,2.54
85,1985,Africa,Democratic Republic of the Congo,Wine,0.01
86,1986,Americas,Bahamas,Wine,1.83
87,1989,Eastern Mediterranean,Iraq,Wine,0.01
89,1986,Eastern Mediterranean,Lebanon,Wine,0.70
90,1989,Africa,Malawi,Wine,0.01
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00
102,1989,Americas,Nicaragua,Wine,0.01
109,1984,Americas,Chile,Wine,6.36
120,1987,Americas,Paraguay,Wine,0.36
...,...,...,...,...,...
3125,1989,Western Pacific,Micronesia (Federated States of),Wine,0.00
3129,1987,Africa,Rwanda,Wine,0.01
3131,1987,Western Pacific,Australia,Wine,3.31
3137,1989,Europe,Latvia,Wine,1.44
3146,1985,Americas,Saint Lucia,Wine,0.46
3148,1986,Americas,Haiti,Wine,0.01
3156,1986,Africa,Nigeria,Wine,0.00
3158,1987,Americas,Chile,Wine,5.41
3160,1985,South-East Asia,Thailand,Wine,0.00
3162,1984,South-East Asia,Bhutan,Wine,0.00
3175,1984,Americas,Panama,Wine,0.17
3176,1986,Western Pacific,Kiribati,Wine,0.02
3179,1986,Europe,Belarus,Wine,NaN
3181,1987,Europe,Italy,Wine,8.89
3183,1986,Western Pacific,Singapore,Wine,0.07
3198,1984,Americas,Brazil,Wine,0.44
3199,1987,Eastern Mediterranean,Kuwait,Wine,0.00
3203,1986,Americas,Peru,Wine,0.11
3204,1986,Eastern Mediterranean,Jordan,Wine,0.02
3205,1989,Western Pacific,Samoa,Wine,0.02
3208,1987,Western Pacific,New Zealand,Wine,2.20
3211,1986,Americas,Canada,Wine,1.33
3226,1986,Americas,Paraguay,Wine,0.36
3227,1989,Americas,Bolivia (Plurinational State of),Wine,0.08
3228,1989,Africa,Madagascar,Wine,0.19
3238,1984,Western Pacific,Fiji,Wine,0.13
3241,1984,Eastern Mediterranean,Djibouti,Wine,0.51
3243,1985,Europe,Slovakia,Wine,2.60
3251,1984,Africa,Angola,Wine,0.57
3252,1984,Africa,Central African Republic,Wine,0.46

In [116]:
#Quantos paises bebem cerveja?
(data['Beverage Types'].value_counts()).Beer

816

In [154]:
#Qual pais bebe mais?
(data[ data['Display Value'] == data['Display Value'].max()]).Country.tolist()

#O que ele bebe?

#data.groupby(['Beverage Types'], sort=False)['Display Value'].max()

#idx = data.groupby(['Beverage Types'])['Display Value'].transform(max) == data['Display Value']
#(data[idx ])

['Portugal']

In [107]:
#Quanto ele bebe?
data['Display Value'].max()

13.5

In [155]:
#O que ele bebe?
(data[ data['Display Value'] == data['Display Value'].max()])['Beverage Types'].tolist()

['Wine']

In [153]:
#De cada tipo de bebida, quais paises bebem mais
data[(data.groupby(['Beverage Types'])['Display Value'].transform(max) == data['Display Value'])]

,Year,WHO region,Country,Beverage Types,Display Value
495,1986,Europe,Germany,Beer,8.68
530,1985,Africa,United Republic of Tanzania,Other,7.80
691,1984,Europe,Portugal,Wine,13.50
1143,1984,Eastern Mediterranean,United Arab Emirates,Spirits,12.02